.place__image {
  max-width: 460px;
  object-fit: contain;
  object-position: top;
  padding-right: 40px;
  padding-top: 48px;
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    max-width: 320px;
    padding-right: 0;
    padding-top: 32px;
  }
}