.footer__link {
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  padding-right: 18px;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

.footer__link:last-child {
  padding-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .footer__link {
    max-width: 320px;
    font-size: 24px;
    line-height: 1.0;
    padding-bottom: 32px;
  }
  .footer__link:last-child {
    padding-bottom: 48px;
  }
}