.container {
  max-width: 984px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 288px;
  }
}