.place {
  box-sizing: content-box;
  list-style: none;
  display: flex;
  max-height: max-content;
  padding-bottom: 80px;
  flex-direction: column;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 535px) {
  .place {
    flex-wrap: wrap;
    max-height: max-content;
    padding-bottom: 50px;
  }
}